.hidden {
  display: none;
}

label {
  margin-bottom: 10px;
  display: block;
}

.navbar {
  min-height: 115px;
}

/* Ensure images and profile icons are responsive */
img {
  max-width: 100%;
  height: auto;
}

/* Handle larger navbar for smaller screens */
@media (max-width: 576px) {
  .navbar {
    min-height: auto;
  }

  .navbar-nav {
    text-align: center;
    margin: 0 auto;
  }

  .nav-item {
    margin-bottom: 10px;
  }

  .profile-image {
    width: 40px;
  }

  .user-info img {
    width: 40px;
  }

  .user-info h6 {
    font-size: 14px;
  }

  .auth-invisible button {
    width: 100%;
  }

  .auth-visible {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .mobile-visible{
    display: none;
  }
}


/* Profile card adjustments */
@media (max-width: 768px) {
  .profile-header {
    flex-direction: column;
    text-align: center;
  }

  .profile-header .profile-image {
    width: 100px;
    margin: 0 auto;
  }
}
