<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Domain</key>
	<string>testing.test-aws-thick-panther-1344.auth0c.com</string>
	<key>ClientId</key>
	<string>lrd0WVIclFZmK49QPHaO25IIaEI7sUaQ</string>
</dict>
</plist>
